    <!-- section start -->
<section class="p-0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="error-section">
                    <h2>Access Denied !</h2>
                    <h3>Opps. You do net have the rights to access That page. </h3>
                    <a asp-controller="Home" asp-action="Index" class="btn btn-solid">back to home</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section ends -->