    <!-- thank-you section start -->
<section class="section-b-space light-layout">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="success-text">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                    <h2>thank you</h2>
                    <p>Payment is successfully processsed and your order is on the way</p>
                    <p></p>
                </div>
            </div>

            <a asp-controller="Home" asp-action="Index" class="btn btn-success btn-block">Place Another Order</a>
            <a asp-controller="Order" asp-action="TrackOrders"  class="btn btn-info btn-block">Track my Orders</a>


        </div>
        
        </div>
    </div>
</section>
<!-- Section ends -->

