<!-- order-detail section start -->
<section class="section-b-space">
    <div class="container">
        <div class="row delivery-sec">
            <div class="col-lg-12">
                <div class="product-order">
                    <h3>your order details</h3>
                    <div class="row product-order-detail">
                        <div class="col-3">
                            <img src="../WebsiteAssets/images/pro3/1.jpg" alt=""
                                 class="img-fluid blur-up lazyload">
                        </div>
                        <div class="col-3 order_detail">
                            <div>
                                <h4>product name</h4>
                                <h5>cotton shirt</h5>
                            </div>
                        </div>
                        <div class="col-3 order_detail">
                            <div>
                                <h4>quantity</h4>
                                <h5>1</h5>
                            </div>
                        </div>
                        <div class="col-3 order_detail">
                            <div>
                                <h4>price</h4>
                                <h5>$555.00</h5>
                            </div>
                        </div>
                    </div>
                    <div class="row product-order-detail">
                        <div class="col-3">
                            <img src="../WebsiteAssets/images/pro3/1.jpg" alt=""
                                 class="img-fluid blur-up lazyload">
                        </div>
                        <div class="col-3 order_detail">
                            <div>
                                <h4>product name</h4>
                                <h5>cotton shirt</h5>
                            </div>
                        </div>
                        <div class="col-3 order_detail">
                            <div>
                                <h4>quantity</h4>
                                <h5>1</h5>
                            </div>
                        </div>
                        <div class="col-3 order_detail">
                            <div>
                                <h4>price</h4>
                                <h5>$555.00</h5>
                            </div>
                        </div>
                    </div>
                    <div class="total-sec">
                        <ul>
                            <li>subtotal <span>$55.00</span></li>
                            <li>shipping <span>$12.00</span></li>
                            <li>total <span>$10.00</span></li>
                        </ul>
                    </div>
                    <div class="final-total">
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="row order-success-sec">
                    <div class="col-lg-6">
                        <h4 style="align-content:left;">Summary</h4>
                        <ul class="order-detail">
                            <li>order for mr/s: Omar </li>
                            <li>Contact No. 987456321</li>
                            <li>order ID: 5563853658932</li>
                            <li>Order Date: October 22, 2018</li>
                            <li>Expected Delivery Date : October 22, 2018</li>
                            <li>Order status : pend</li>
                            <li>Payement Type : cash</li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <h4>shipping address</h4>
                        <ul class="order-detail">
                            <li>Country : gerg harvell</li>
                            <li>City : 568, suite ave.</li>
                            <li>Address : Austrlia, 235153</li>
                            <li>Department No : 235153</li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- Section ends -->