

@model BookCategory


<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-9 col-12 mb-2">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h2 class="content-header-title float-left mb-0">Form Layouts</h2>
                        <div class="breadcrumb-wrapper col-12">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="index.html">Home</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#">Forms</a>
                                </li>
                                <li class="breadcrumb-item active">
                                    <a href="#">Form Layouts</a>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-header-right text-md-right col-md-3 col-12 d-md-block d-none">
                <div class="form-group breadcrum-right">
                    <div class="dropdown">
                        <button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="feather icon-settings"></i></button>
                        <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item" href="#">Chat</a><a class="dropdown-item" href="#">Email</a><a class="dropdown-item" href="#">Calendar</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <!-- Basic Horizontal form layout section start -->
            <section id="basic-horizontal-layouts">
                <div class="row match-height">
                    <div class="col-md-12 col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Horizontal Form</h4>
                            </div>
                            <div class="card-content">
                                <div class="card-body">

                                    @Html.ValidationSummary()

                                    <!--FORM START-->
                                    <form class="form form-horizontal"
                                          method="post" role="form"
                                          enctype="multipart/form-data"
                                          asp-controller="AdminBookCategory" asp-action="SaveBookCategory">
                                        <div class="form-body">
                                            <div class="row">
                                                <!--Name-->
                                                <div class="col-12">
                                                    <div class="form-group row">
                                                        <div class="col-md-4">
                                                            <span>Category Name</span>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <input type="text" class="form-control" placeholder="Category Name" asp-for="bookCategoryName">
                                                            <span class="label danger" asp-validation-for="bookCategoryName"></span>

                                                        </div>
                                                    </div>
                                                </div>
                                                <!--Description-->
                                                <div class="col-12">
                                                    <div class="form-group row">
                                                        <div class="col-md-4">
                                                            <span>Description</span>
                                                        </div>

                                                        <div class="col-md-12">
                                                            <input type="text" class="form-control" placeholder="Category Description" asp-for="bookCategoryDescription">
                                                            <span class="label danger" asp-validation-for="bookCategoryDescription"></span>

                                                        </div>
                                                    </div>
                                                </div>
                                          

                                                <input type="hidden" asp-for="bookCategoryId" />
                                                <div class="col-md-8 offset-md-4">
                                                    <button type="submit" class="btn btn-primary mr-1 mb-1">Save</button>
                                                    <button type="reset" class="btn btn-outline-warning mr-1 mb-1">Reset</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
            <!-- // Basic Horizontal form layout section end -->


        </div>
    </div>
</div>
<!-- END: Content-->
